<div class="input-group exercise-form">
  <%= f.text_field :name, placeholder:"Exercise Name", class:"form-control" %>
  <%= f.text_field :sets, placeholder:"Sets", class:"form-control" %>
  <%= f.text_field :reps, placeholder:"Reps", class:"form-control" %>
  <%= f.text_field :weight_kg, placeholder:"Weight (kg)", class:"form-control" %>
</div>
