<div class="row">
  <div class="">
    <%= f.text_field :name, placeholder:"Exercise Name" %>
    <%= f.text_field :sets, placeholder:"Sets" %>
    <%= f.text_field :reps, placeholder:"Reps" %>
    <%= f.text_field :weight_kg, placeholder:"Weight (kg)" %>

  </div>
</div>
