<div class="create-bg">
  <div class="center">
    <div class="card create-card">
      <div class="card-body create-card-body">
        <h2 class="hollys-m">Edit Workout</h2>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
