<div class="workout-bg">
  <div class="center">
    <div class="card special-card">
      <div class="card-header special-card-header hollys-m">Workouts</div>

      <div class="card-body special-card-body">
        <% @workouts.each do |workout| %>
          <p><%= link_to workout.name, workout, class:"special-links" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
