<h2>New Workout</h2>

<%= form_tag new_workout_path, method: "get" do %>
  <p>
    How many exercises would you like to add:
    <%= select_tag :exercise_num, options_for_select(1..10) %>
    <%= submit_tag "Add" %>
  </p>
<% end %>

<%= render 'form' %>
