<div class="people-bg">
  <div class="center">
    <div class="card special-card">
      <div class="card-header special-card-header hollys-m">Users</div>

      <div class="card-body special-card-body">
        <% @users.each do |user| %>
          <% if user != current_user %>
            <p><%= link_to user.full_name, user, class:"special-links" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
