<div class="user-bg">
  <div class="center">
    <h2 class="user-heading"><%= @user.full_name %></h2>

    <div class="row user-row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header hollys-m">Workouts</div>
          <div class="card-body">
            <% @user.workouts.each do |workout| %>
              <%= link_to workout.name, workout, class:"user-links" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-header hollys-m">My Gyms</div>
          <div class="card-body">
            <% @user.gyms.each do |gym| %>
              <%= link_to gym.name, gym, class:"user-links" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
