<div class="home-bg">
  <div class="center" style="padding-top:250px">
    <div class="card user-card">
      <div class="card-body home-card-body">
        <p class="home-card-header hollys-lg-alt">Welcome to Trackzy!</p>
        <p class="home-card-sub hollys-m">Find gyms close by, wherever you are</p>
        <p class="home-card-sub hollys-m">Create custom workouts that work for you</p>
        <% if !logged_in? %>
          <div class="btn-group">
            <%= link_to "Login", login_path, class:"btn btn-outline-danger btn-lg home-btn" %>
            <%= link_to "Sign up", signup_path, class:"btn btn-outline-danger btn-lg home-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
